.flex-filter-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 2vh;

}

.filter-button {
    flex-basis: 15%;
}
h3 {
    margin-right: 5%;
}
@media (max-width:800px) {
    .filter-button {
         flex-basis: 15%;

    }
    .flex-filter-container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    
    }
    h3 {
        margin-right: 1%;
    }

}