.item-size {
    width: 18rem;
    height: 16rem;
    margin: 1rem;
    border: 1px solid black;
}

section.cards {
    display: flex;
    align-items: center;
  }
  
  section.cards .card {
    margin: 0 10px;
  }
  
  .card-img,
  .card-img-bottom,
  .card-img-top {
    height: 300px;
    object-fit: cover;
  }
  