.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.form {
    width:30vw;
}

.submit {
    text-align: center;
    width: 30vw;
}

.text-muted {
    font-size: 2vw;
}

@media (max-width: 800px){
    .form {
        width:40vw;
    }
    .submit {
        text-align: center;
        width: 40vw;
    }
    .text-muted {
        font-size: 3vw;
    }
}